<nav>
    <div class="nav-logo">
        <a href="/"><img src="/img/white-logo.png" alt="Navbar Logo"></a>
    </div>
    <ul onclick="navActive(event)" class="nav-wrap">
        <li>
            <a href="/blog" class="nav-link">Home</a>
        </li>
        <li>
            <a href="/about" class="nav-link">About</a>
        </li>
        <li>
            <a href="/blog/create" class="nav-link">New Post</a>
        </li>
        <li>
            <a href="/blog/manage" class="nav-link">Manage Post</a>
        </li>
    </ul>
    <div class="nav-toggle">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>